{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    {% include "orders/header.html" %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Code</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">1</th>
                <td>{{ product.name }}</td>
                <td>{{ product.code }}</td>
                
                {% if product.image %}
                            <td><img style="height: 50; width: 100px;" src="{{ product.image.url }}"></td>
                {% else %}
                            {% comment %} No Image Available {% endcomment %}
                            <td><img style="height: 50px; width: 100px;" src="{% static 'images/no_image.jpg' %}"></td>
                {% endif %}
                
                <!-- Button for initating adding product modal -->
                <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#update_productModal{{product.id}}">Update Product</button></td>
                <!-- Update Product Modal -->
                <div class="modal fade" id="update_productModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Product {{product.name}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'update_product' product.id %}" method="POST">
                                {% csrf_token %}
                                <!-- code 
                                name 
                                description 
                                type 
                                brand 
                                category 
                                price 
                                stock 
                                product_color  -->
                                
                                <p>
                                    <label for="id_code">Code:</label>
                                    <input type="text" name="code" maxlength="50" required="" id="id_code" value="{{product.code}}">
                                </p>
                                <p>
                                    <label for="id_name">Name:</label>
                                    <input type="text" name="name" maxlength="200" required="" id="id_name" value="{{product.name}}">
                                </p>
                                <p>
                                    <label for="id_description">Description:</label>
                                    <input type="text" name="description" maxlength="500" id="id_description" value="{{product.description}}">
                                </p>
                                <p>
                                    <label for="id_type">Type:</label>
                                    <input type="text" name="type" maxlength="30" id="id_type" value="{{product.type}}">
                                </p>
                                <p>
                                    <label for="id_brand">Brand:</label>
                                    <input type="text" name="brand" maxlength="50" id="id_brand" value="{{product.brand}}">
                                </p>

                                
                                <p>
                                    <label for="id_category">Category:</label>
                                    <input type="text" name="category" maxlength="50" id="id_category" value="{{product.category}}">
                                    
                                    
                                </p>

                                
                                <p>
                                    <label for="id_price">Price:</label>
                                    <input type="number" name="price" step="0.01" id="id_price" value="{{product.price}}">
                                    
                                    
                                </p>

                                
                                <p>
                                    <label for="id_stock">Stock:</label>
                                    <input type="number" name="stock" id="id_stock" value="{{product.stock}}">
                                    
                                    
                                </p>

                                
                                <p>
                                    <label for="id_product_color">Product color:</label>
                                    <input type="text" name="product_color" maxlength="30" id="id_product_color" value="{{product.color}}">
                                </p>        
                                <p>
                                    <label for="id_image">Image:</label>
                                    {% if product.image %}
                                        <input type="file" name="image" accept="image/*" id="id_image" value="{{product.image.url}}">
                                    {% else %}
                                    <input type="file" name="image" accept="image/*" id="id_image" value="images/No_Image_Available.jpg">
                                    {% endif %}
                                </p>                                                    
                                                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Update Product</button>
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
                <!-- Button for deleting product modal -->
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_productModal{{product.id}}">Delete Product</button></td>
                <!-- Delete Product Modal -->
                <div class="modal fade" id="delete_productModal{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'delete_product' product.id %}" method="POST">
                                {% csrf_token %}
                                Are you sure you want to delete {{product.name}}({{product.code}})?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </tr>
            {% empty %}
                <tr><td>No products available</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Button for initating adding product modal -->
     <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add_productModal">Add Product</button>
     <!-- Add Product Modal -->
     <div class="modal fade" id="add_productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- code 
                    name 
                    description 
                    type 
                    brand 
                    category 
                    price 
                    stock 
                    product_color  -->
                    {{ form.as_p }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Add Product</button>
              </div>
            </form>
            </div>
          </div>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>